<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="runtime" type="System.Configuration.RuntimeConfigurationSection, System.Configuration" />
        <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <appSettings>
        <add key="owin:AutomaticAppStartup" value="false"/>
        <add key="owin:AppStartup" value="false"/>
    </appSettings>
</configuration>
