on:
  push:
    branches:
      - main
  release:
    types:
      - published
  pull_request:

name: net-preview
env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  dotnet-version: 10.0.100-preview.7.25380.108
  dotnet-target: net10.0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.dotnet-version }}

      - run: dotnet --info

      # Install Mono
      - name: Install Mono (Ubuntu)
        run: |
          sudo apt install ca-certificates gnupg
          sudo gpg --homedir /tmp --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/mono-official-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
          sudo chmod +r /usr/share/keyrings/mono-official-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/mono-official-archive-keyring.gpg] https://download.mono-project.com/repo/ubuntu stable-focal main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
          sudo apt update
          sudo apt install mono-complete
        
      # Checkout
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      # Run all tests
      - run: dotnet test -c Release -f ${{ env.dotnet-target }} -p:NetPreview=true
